<div class="container">
  <h1>Tweets for <%= params[:user_name] %></h1>
  <div class="tweet_list">
    <table class="table span9">
      <tr>
        <th colspan="2">User</th>
        <th>Tweet</th>
        <th>When?</th>
      </tr>
      <% @tweets.each do |tweet| %>
      <tr>
        <td nowrap><img src=<%= tweet.user.profile_image_url %>></td>
        <td class="tweet_user_name" nowrap><%= "@" + tweet.user.screen_name %></td>
        <td class="tweet_text"><%= tweet.text %></td>
        <td class="tweet_time" nowrap><%= tweet.created_at %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<script type="text/javascript">

  // Format the user link for each tweet.
  $(".tweet_user_name").each(function () { 
    var tweetUser = $(this).html();
    $(this).html(tweetHelper.linkMentions(tweetUser) );
  });
  
  // Format the tweet text context for each tweet.
  $(".tweet_text").each(function () { 
    var tweetText = $(this).html();
    $(this).html(tweetHelper.formatTweet(tweetText) );
  });

  // Format the datetime string for each tweet.
  $(".tweet_time").each(function () { 
    var createdAt = $(this).html();
    $(this).html(tweetHelper.timeAgo(createdAt) );
  });
</script>